@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(img1.png); 
	background-size: cover;
	background-position: center;
	font-family: 'Poppins', sans-serif;
	height: 100%;
	width: 100%;
	}
.navbar {
	padding: .8rem;
	}
.navbar-nav li {
	padding-right: 20px;
	}
.nav-link {
	font-size: 1.1em !important;
	}
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul li {
	opacity: .8;
	line-height: 40px;
	text-align: center;
}
ul li a {
	text-decoration: none;
	color: white;
	display: block;
}

ul li ul li {
	display: none;
}
ul li:hover ul li {
	display: block;
}
.contact-title {
	margin-top: 100px;
	color: #fff;
	text-transform: uppercase;
	transition: all 4s ease-in-out; 
}
.contact-title h1 {
	font-size: 52px;
	line-height: 10px; 
}
.contact-title h2 {
	margin-top: 30px;
	color: red;
	font-size: 26px;
	text-transform: uppercase;
}

form {
	margin-top: 50px;
	transition: all 4s ease-in-out;
}
.form-control {
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px; 
}
#contact-form {
	opacity: .9;
}


input {
	height: 45px;
}
form .submit {
	background: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}
form .submit: hover {
	background-color: #f44336;
	cursor: pointer; 
}
